.attribution {
    font-size: 11px;
    text-align: center;
    color: aliceblue;
    position: absolute;
    bottom: 0;
}
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: hsl(213, 19%, 18%);
    max-width: 337px;
    height: 365px;
    padding: 1.5em;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
}

/* ratings styles */

.star-icon {
    background-color: hsl(213, 22%, 24%);
    padding: .7rem;
    border-radius: 50%;
}

h1 {
    color: hsl(0, 0%, 100%);
    margin: 1rem 0;
    font-size: 1.7em;
    font-weight: 500;
}

p {
    color: hsl(217, 12%, 63%);
    line-height: 1.4;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.btn {
    background: hsl(213, 22%, 24%);
	border: none;
    color: hsl(217, 12%, 63%);
    border-radius: 50%;
    width: 3em;
    height: 3em;
	cursor: pointer;
}

.btn:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    transition: 0.2s;
}

.btn:focus {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}


.btn-submit {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    margin: 0 auto 2em auto;
    padding: 1.3em;
    border: none;
    color: hsl(0, 0%, 100%);
    border-radius: 40px;
	cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

/* thank you styles */

#thank-you-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#thank-you-container img {
    width: 150px;
    height: 95px;
}

.selected-container {
    background-color: hsl(217, 12%, 63%, .3);
    margin: 1.5rem auto;
    border-radius: 30px
}

.selected-container p {
    color: hsl(25, 97%, 53%);
    margin: .3rem .7rem  .1rem
}

#thank-you {
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
    font-weight: 500;
}



@media only screen and (min-width: 750px) {
    /* ratings styles */

    .main-container {
        max-width: 382px;
        height: 350px;
    }
}